body  {
    background-image: url("plane.jpg");
    background-color: #cccccc;
    background-size:cover;
}
input.transparent-input{
    background-color:rgba(0,0,0,0.3) !important;

    box-sizing: border-box;
    width: 560px;
    height: 70px;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0b3d05;
    opacity: 1; /* Firefox */
    font-size: x-large;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0b3d05;
    font-size: x-large;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #0b3d05;
    font-size: x-large;
    tex
}

.button {
    color: white;
}